* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dimgrey;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.password-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 500px;
  height: 200px;
}
.password {
  margin: 5px;
}
.button {
  align-self: flex-start;
  margin-left: 125px;
  margin-top: 20px;
}
#input,
#user,
#url {
  width: 250px;
  padding: 7px;
  font-size: 1.3rem;
  border: none;
}
.view {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 20px;
  width: 95px;
  padding: 5px;
  border: none;
  font-weight: bold;
  background-color: #0b8b8b;
  color: white;
}
#input :active,
:focus {
  border: none;
  outline: none;
}
#input::placeholder {
  font-size: 1rem;
}
/* #input::selection {
  background-color: rgba(130, 130, 235, 0.37);
} */
.copy-box {
  position: absolute;
  top: 109px;
  left: 70%;
  font-size: 1.3rem;
  opacity: 0.5;
  cursor: pointer;
}
.copy-box:hover {
  opacity: 0.9;
}
.copy-box:active {
  transform: scale(1.1);
}
#btn {
  padding: 5px;
  width: 100px;
  font-weight: bold;
  background-color: #0a6e6e;
  color: white;
  text-transform: uppercase;
}
#save {
  padding: 5px;
  width: 100px;
  font-weight: bold;
  background-color: #0a6e6e;
  color: white;
  text-transform: uppercase;
}
#btn:active {
  transform: scale(0.9);
}
#btn:hover {
  background-color: #0b8b8b;
}

.div-box {
  position: absolute;
  background-color: #0b8b8b;
  width: 150px;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  padding: 10px;
  top: 65%;
  left: -300px;
  transition: all 1s;
}
.list {
  margin-top: 50%;
  background-color: #0b8b8b;
}
.active {
  left: 10%;
}
#list {
  position: absolute;
  bottom: 30%;
  margin-left: 30px;
  color: rgb(247, 201, 201);
  font-size: 1rem;
}

.add {
  outline: solid 2px red;
}
h1 {
  color: red;
  display: none;
}
.block {
  display: block;
}
